* {
    box-sizing: border-box
}
.footer-content {
    margin-left: 10px;
}

.container {
   margin-top: 200px;
}
@media only screen and (max-width: 991px) {
    .footer-hidden {
        display: none;
    }
    .container {
        margin-top: 80px;
     }
}
