@media only screen and (max-width: 767px) {
    .col-mb-1 {width: 8.33%;}
    .col-mb-2 {width: 16.66%;}
    .col-mb-3 {width: 25%;}
    .col-mb-4 {width: 33.33%;}
    .col-mb-5 {width: 41.66%;}
    .col-mb-6 {width: 50%;}
    .col-mb-7 {width: 58.33%;}
    .col-mb-8 {width: 66.66%;}
    .col-mb-9 {width: 75%;}
    .col-mb-10 {width: 83.33%;}
    .col-mb-11 {width: 91.66%;}
    .col-mb-12 {width: 100%;}

    .left-menu li {
        font-size: 9px;
        padding: 0px;
    }
    .left-menu li a {
        padding: 8px;
    }
    .menu li:hover .submenu, .ti-angle-down, .banner {
        display: none;
    }
    .brand {
        background-image: url("https://www.pexels.com/vi-vn/anh/t-ng-dai-h-chi-minh-2973305/");
        padding: 0px;
    }
   .brand-img {
       position: relative;
       display: block;
       width: 100%;
       height: auto;
   }
   .brand-text {
       position: absolute;
       color: #ccc;
       margin: 0px;
       top: 140px;
       left: 0px;
       right: 0px;
      
   }
   .brand-text h1 {
       font-size:25px;
   }

}